
<div
		class="parallax-image-wrapper parallax-image-wrapper-100"
		data-anchor-target="#dragons + .gap"
		data-bottom-top="transform:translate3d(0px, 200%, 0px)"
		data-top-bottom="transform:translate3d(0px, 0%, 0px)">

		<div
			class="parallax-image parallax-image-100"
			style="background-image:url(/assets/WDI_March_2014_group-435.jpg)"
			data-anchor-target="#dragons + .gap"
			data-bottom-top="transform: translate3d(0px, -80%, 0px);"
			data-top-bottom="transform: translate3d(0px, 80%, 0px);"
		></div>
		<!--the +/-80% translation can be adjusted to control the speed difference of the image-->
	</div>

	<div
		class="parallax-image-wrapper parallax-image-wrapper-100"
		data-anchor-target="#bacons + .gap"
		data-bottom-top="transform:translate3d(0px, 200%, 0px)"
		data-top-bottom="transform:translate3d(0px, 0%, 0px)">

		<div
			class="parallax-image parallax-image-100"
			style="background-image:url(/assets/sf_skyline.jpg)"
			data-anchor-target="#bacons + .gap"
			data-bottom-top="transform: translate3d(0px, -40%, 0px);"
			data-top-bottom="transform: translate3d(0px, 40%, 0px);"
		></div>
	</div>

	<div
		class="parallax-image-wrapper parallax-image-wrapper-50"
		data-anchor-target="#kittens + .gap"
		data-bottom-top="transform:translate3d(0px, 402%, 0px)"
		data-top-bottom="transform:translate3d(0px, 0%, 0px)">

		<div
			class="parallax-image parallax-image-50"
			style="background-image:url(assets/computer_desk.jpg)"
			data-anchor-target="#kittens + .gap"
			data-bottom-top="transform: translate3d(0px, -60%, 0px);"
			data-top-bottom="transform: translate3d(0px, 60%, 0px);"
		></div>
	</div>

	<div id="skrollr-body">
		<div id="dragons"></div>
		<div class="gap gap-100" style="background-image:url(../images/WDI_March_2014_group-435.jpg);"></div>
		<div class="content" id="bacons">
			<h3>We started as furniture makers, photographers, managers, bankers, lyft drivers, entrepreneurs.</h3>
			<h3>12 weeks, over 900 hours and thousands of lines of code later, we are developers.</h3>
			<h2>We are WDI.</h2>
				<div class="row">
					<ul id="skills">
						<div class="col-lg-3">
							<img src="assets/rubygem_icon.jpg">
							<h4>Frameworks</h4>
							<h5> We mastered Ruby on Rails and experimented with Javascript frameworks such as Meteor, Angular, and Node.js</h5>
						</div>
							
						<div class="col-lg-3">
							<img src="assets/coffescript_icon.jpg">
							<h4>Front-End</h4>
							<h5>We use HTML5, CSS3, JavaScript, Coffeescript, and jQuery to build stylish, flexible, and responsive web applications</h5>
						</div>
							
						<div class="col-lg-3">
						<img src="assets/paintbrush_icon.jpg">
						<h4>Back-End</h4>
						<h5>We build SQL databases with validations, authorization and authentication for secure and reliable data.</h5>
						</div>
						<div class="col-lg-3">
						<img src="assets/lightbulb_icon.jpg">
						<h4>Computer Science</h4>
						<h5>Data structures, algorithms, optimization, TDD, pair programming, and version control - we've explored computer science and industry best practices for efficient and quality web development.
						</div>
							
					</ul>
				</div>
			<p></p>
			<p></p>

		</div>

		<div class="gap gap-100" style="background-image:url(assets/sf_skyline.jpg);"></div>
		<div class="content content-full" id="kittens">
			<h3>Graduates</h3>
				<div class="row-fluid" id="student_image_grid">
						<ul id="students"></ul>
				</div>
		</div>
		<div class="gap gap-100" style="background-image:url(assets/computer_desk.jpg);"></div>
		<div id="done">
			<div id="projects">
				<h3>Projects</h3>
					<div class="row">
						<div class="col-lg-6"><a href="https://engaugenow.herokuapp.com" target=_blank><img src="assets/engauge.jpg"></a></div>
						<div class="col-lg-6"><a href="https://nearbuysf.herokuapp.com" target=_blank><img src="assets/nearbuysf.jpg"></a></div>
					</div>
					<div class="row">
						<div class="col-lg-6"><a href="https://popups-app.herokuapp.com" target=_blank><img src="assets/popspotz.jpg"></a></div>
						<div class="col-lg-6"><a href="https://stockvisualizer.herokuapp.com" target=_blank><img src="assets/stockvisualizer.jpg"></a></div>
					</div>
				</div>

<!-- Contact Information -->
		<div class="content" id="contact">
			<a href="https://generalassemb.ly"><img src="assets/GA.png" alt="" width="200px" height="auto"></a>
			<h4>501 Folsom Street</h4>
			<h4>San Francisco, CA 94105</h4>
      <h4><a href="mailto:sf@generalassemb.ly">sf@generalassemb.ly</a></h4>
			<h3>This site was built by: <a href="https://github.com/ldrohan">Lukey Supreme</a> | <a href="http://www.github.com/taylorchiu">TPC</a> | <a href="https://github.com/daveyk535">daveyK</a>
  		</h3>
		</div>
<!-- Contact Information -->
		
	</div>

	<script type="text/javascript" src="../dist/skrollr.min.js"></script>
	<script type="text/javascript">
	skrollr.init({
		smoothScrolling: false,
		mobileDeceleration: 0.004
	});
	</script>

<div data-0="background-color:rgb(0,0,255);transform[bounce]:rotate(0deg);" data-top="background-color:rgb(255,0,0);transform[bounce]:rotate(360deg);">

	</div>
				

