#skills {
	list-style-type: none;
	display: inline;
}

#group_photo img {
	max-height: 50%;
	max-width: auto;
	object-fit:cover;
}

.navbar {
   background-color: transparent;
   background: transparent;
}

body {
	padding-top: 70px;
}
