
* {
		padding:0;
		margin:0;
	}

	html, body {
		height:100%;
	}

	.skrollr-desktop body {
		height:100% !important;
	}

	body {
		font-family:sans-serif;
		position: relative;
/*		padding-top: 70px;*/
	}

	p {
		margin:1em 0;
	}

	.parallax-image-wrapper {
		position:fixed;
		left:0;
		width:100%;
		overflow:hidden;
	}

	.parallax-image-wrapper-50 {
		height:50%;
		top:-50%;
	}

	.parallax-image-wrapper-100 {
		height:100%;
		top:-100%;
	}

	.parallax-image {
		display:none;
		position:absolute;
		bottom:0;
		left:0;
		width:100%;
		background-repeat:no-repeat;
		background-position:center;
		background-size:cover;
	}

	.parallax-image-50 {
		height:200%;
		top:-50%;
	}

	.parallax-image-100 {
		height:100%;
		top:0;
	}

	.parallax-image.skrollable-between {
		display:block;
	}

	.no-skrollr .parallax-image-wrapper {
		display:none !important;
	}

	#skrollr-body {
		height:100%;
		overflow:visible;
		position:relative;
	}

	.gap {
		background:transparent center no-repeat;
		background-size:cover;
	}

	.skrollr .gap {
		background:transparent !important;
	}

	.gap-50 {
		height:50%;
	}

	.gap-100 {
		height:100%;
	}

	.header, .content {
		background:#fff;
		padding:1em;

		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
	}

	.content-full {
		height:100%;
	}

	#kittens {
		height: 100%;
	}

	#done {
		height:100%;
	}

.navbar {
   background-color: transparent;
   background: transparent;
}


#skills {
	list-style-type: none;
	display: inline;
}

#students {
	list-style-type: none;
}

.studentli {
	padding: 0;
	margin: 0;
}

.thumbnail {
	border: 0 none;
	border-radius: 0;
	box-shadow: none;
}


figure {
     display:block;
     width:200px;
     height:200px;
     position:relative;
     overflow:hidden;
}
 
figcaption {
     display:block;
     width:200px;
     height:40px;
     padding:10px;
     position:absolute;
     top:140px;
     left:0;
     color:#FFFFFF;
     font:13px/20px Arial, sans-serif;
     background:#000000;
     background:rgba(0,0,0,.5);
}

/*Modal Css*/
#overlay {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.5;
    filter: alpha(opacity=50);
}
#modal {
		max-width: 45%;
    position:absolute;
    background:url(tint20.png) 0 0 repeat;
    background:rgba(0,0,0,0.2);
    /*border-radius:14px;*/
    padding:8px;
}

#content {
    background:rgba(255,255,255, 0.8);
}
#close {
    position:absolute;
    background:url(close.png) 0 0 no-repeat;
    width:24px;
    height:27px;
    display:block;
    text-indent:-9999px;
    top:-7px;
    right:-7px;
}
#studentname{
	color: #F50717;
	font-family: arial;
	font-size: 18px;
	text-align: center;
}
.modal-header{
	max-height: 55px;
}
#modalheader{
	background-color: rgba(245,7,23, 0.8);
}
#modalname{
	text-align: center;
	color: white;
}
#modalbio{
	height:75px;
	padding-left: 20px;
	padding-right: 8px;
}
.modal-footer{
	max-height: 55px;
	text-align: center;
	background-color:
}